@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background-image: url('https://ik.imagekit.io/h8zb3jmn4/wallpaperflare%208.png?updatedAt=1694623534899');
    background-size: cover;
    background-position: center;
    height: 100%
  }
  ::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
  }

  